/* font-family: 'Press Start 2P', cursive; */
body{
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    /* font-weight: bold; */
    background-color: #4A7F80;
    color: black;
    font-family: 'Press Start 2P', cursive;
}
h1{
    font-size: 30pt;
    /* color: black; */
    /* text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white; */
}
h1, h2, #name{
    color: goldenrod;
        text-shadow:
    -1px -1px 0 black,
    1px -1px 0 black,
    -1px 1px 0 black,
    1px 1px 0 black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover, #name:hover{
    /* color:#79BF2E; */
    color:rgb(167, 27, 17);
}
.content{
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
    /* background-color: black;
    color:whitesmoke; */
    padding: 10px 0px;
    font-size: 14pt;
    background-color: white;
    border: solid black 2px;
    border-radius: 15px;
}
.me{
    float: left;
    width: 135px;
    height: 190px;
    margin: 12px 10px 5px 10px;
    border: solid black 1px;
    border-radius: 15px;
    /* filter: grayscale(90%); */
}
#me{
    font-size: 10pt;
    line-height: 2;
    padding: 10px 10px 0;
}
#name{
    font-weight: bold;
}
.container{
    width:100%;
    text-align: justify;
    background-color: white;
    border: solid black 2px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.projects{
    height: 150px;
    width: 150px;
    display: block;
    position: relative;
    margin: 20px auto;
    border: white solid 1px;
    border-radius: 15px;
}
.contact-me{
    padding-bottom: 1px;
    text-align: center;
}
#contact-me{
    font-weight: bold;
    font-size: 10pt;
}
#contact{
    font-size: 10pt;
}
.footer{
    font-size: 8pt;
    font-weight: bold;
    text-align: center;
    width:25%;
    padding: 0px;
    /* border-top: 1px solid; */
    position:fixed;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    left: 0;
    right:0;
    flex-shrink: 0;
    z-index: 3;
}
.description{
    width: 220px;
    height: 90px;
    position: relative;
    margin: 15px auto -40px;
    /* word-wrap: break-word; */
    font-size: 8pt;
    text-align: center;
    line-height: 1.5;
    background-color: white;
    padding: 5px 0px 25px;
    border: solid black 1px;
    border-radius: 15px;
}
#project1, #project2, #project3, #project4, #project5, #project6, #project7{
    width: auto;
    height: auto;
    text-align: center;
    margin: 40px auto 65px;
    font-size: 10pt;
}
/* #submit{
    font-family: 'Quicksand', sans-serif;
    background-color: black;
    color: whitesmoke;
    border-radius: 15px;
    border:1px solid;
}
#submit:hover{
    color:#79BF2E;
} */
@media screen and (min-width:960px){ 
    h2{
        font-size: 18pt;
        margin-left: 70px;
    }
    .projects{
        height: 225px;
        width: 225px;
        display: block;
        position: relative;
        margin: 10px auto;
        border-radius: 15px;
    }
    #project1, #project3, #project5, #project7{
        float: left;
        margin-left: 250px;
        margin-top: 50px;
    }
    #project2, #project4, #project6{
        float: right;
        margin-right: 250px;
        margin-top: 50px;
    }

}
@media screen and (max-width:375px){
    h2{
        margin-left: 0;
    }
    .container{
        clear: left, right;
        width:auto;
        margin: auto;
    }    
    .projects{
        height: 150px;
        width: 150px;
        display: block;
        position: relative;
        left: 0;
        right: 0;
        /* margin: 15px auto; */
        border-radius: 15px;
    }
    #project1, #project3, #project5, #project7{

        margin-left: 240px;
    }
    #project2, #project4, #project6{
        margin-right: 260px;
    }
    .footer{
        width: 50%;
    }

}