/* font-family: 'Special Elite', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Prata', serif; */
body{
    height: 100%;
    margin: 20px;
    flex-grow: 1;
    background-color: silver;
    color: black;
}
h1{
    font-size: 30pt;
}
h1, h2{
    font-family: 'Special Elite', cursive;
    color: black;
}
a{
    color: black;
    text-decoration: none;
}
a:hover, #name:hover{
    color:rgb(167, 27, 17);
    font-weight: bold;
}
.content{
    width: 100%;
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
    padding: 10px 0px;
    font-size: 14pt;
    background-color: white;
    border: solid black 2px;
    border-radius: 15px;
}
.me{
    float: left;
    width: 135px;
    height: 190px;
    margin: 12px 10px 5px 10px;
    border: solid black 1px;
    border-radius: 15px;
    filter: grayscale(80%);
}
#me{
    font-family: 'Prata', serif;
    font-size: 10pt;
    line-height: 1.5;
    padding: 10px 10px 26px;
}
.resume{
    display: block;
    position: relative;
    margin: auto;
    padding: 10px 10px; 
    filter: grayscale(100%);
}
#name{
    font-family: 'Crimson Text', serif;
    font-size: 14pt;
    font-weight: bold;
}
.menu, .footer{
    font-family: 'Crimson Text', serif;
    font-weight: bold;
}
.container{
    width:65%;
    text-align: justify;
    background-color: white;
    border: solid black 2px;
    border-radius: 15px;
    margin: 0px auto 30px;
}
.container2{
    width:100%;
    text-align: justify;
}
.projects{
    height: 150px;
    width: 150px;
    display: block;
    position: relative;
    margin: 30px auto;
    border: black solid 1px;
    border-radius: 15px;
}
.contact-me{
    display: block;
    position: relative;
    margin: 0px auto;
    padding-bottom: 1px;
    text-align: center;
}
#contact-me{
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 12pt;
}
#contact{
    font-family: 'Prata', serif;
    font-size: 10pt;
}
.footer{
    font-size: 10pt;
    text-align: center;
    width:25%;
    padding: 0px;
    position:fixed;
    margin: 0 auto;
    padding: 0;
    bottom: 0;
    left: 0;
    right:0;
    flex-shrink: 0;
    z-index: 3;
}
.description{
    width: 220px;
    height: 90px;
    position: relative;
    margin: 5px auto;
    font-family: 'Prata', serif;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 5px 0px 25px;
}
#project1, #project2, #project3, #project4, #project5, #project6, #project7{
    width: auto;
    height: auto;
    text-align: center;
    margin: 25px auto 0px;
    font-size: 10pt;
}
@media screen and (min-width:960px){ 
    h2{
        font-size: 18pt;
        margin-left: 70px;
    }
    .projects{
        height: 225px;
        width: 225px;
        display: block;
        position: relative;
        margin: 10px auto;
        border-radius: 15px;
    }
    #project1, #project3, #project5, #project7{
        float: left;
        margin-left: 250px;
        margin-top: 50px;
    }
    #project2, #project4, #project6{
        float: right;
        margin-right: 250px;
        margin-top: 50px;
    }

}
@media screen and (min-width:500px) and (max-width:940px){
    #me{
        padding-bottom: 0px;
    }
    .contact-me{
        display: inline-block;
        text-align: left;
        margin: 0px auto;
    }
    .container{
        width: 85%;
    }
    .resume{
        width: 95%;
    }
}
@media screen and (max-width:425px){
    h2{
        margin-left: 0;
    }
    .container, .container2{
        clear: both;
        width:auto;
        margin: auto;
    }
    .container{
        width: 90%;
    }
    .resume{
        width: 95%;
    } 
    /* .contact-me{
        margin: 0px auto;
    }    */
    .projects{
        height: 150px;
        width: 150px;
        display: block;
        position: relative;
        left: 0;
        right: 0;
        /* margin: 15px auto; */
        border-radius: 15px;
    }
    #project1, #project3, #project5, #project7{
        margin-left: 5px;
    }
    #project2, #project4, #project6{
        margin-right: 0px;
    }
    .footer{
        width: 50%;
    }

}