/* font-family: 'Special Elite', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Prata', serif; */
body {
    height: 100%;
    margin: 0px;
    flex-grow: 1;
    background-color: #5C9192;
    color: black;
}
.carouselCont {
    width: 100%;
    background-color: #DFFCFD;
    transform: rotate(2deg);
}
#carouselCaptions {
    display: block;
    position: relative;
    margin: 12% auto 10%;
    padding: 30px 0px 40px;
    width: 50%;
    transform: rotate(-2deg);
}
.project {
    font-family: 'Prata', serif;
}
.d-block.w-100 {
    opacity: 1;
}
.d-block.w-100:hover {
    opacity: 0.8;
}
#dropdownMenu {
    font-weight: bold;
}
.dropdown {
    font-family: 'Prata', serif;
}
h1 {
    font-size: 30pt;
}
h2 {
    margin-left: 20px;
}
h1, h2 {
    /* font-family: 'Special Elite', cursive; */
    font-family: 'Prata', serif;
    font-weight: bold;
    color: black;
}
.about {
    margin-left: 0;
}
a{
    color: black;
    text-decoration: none;
}
#contact:hover {
    color: rgb(230, 51, 51);
    font-weight: normal;
}
.content {
    margin: auto;
    position: relative;
    display: block;
    text-align: center;
    padding: 20px 0px 10px;
    font-size: 14pt;
    background-color: #4A7F80;
}
.btn.btn-dark {
    display: block;
    position: relative;
    width: 25%;
    margin: auto;
    margin-bottom: 40px;
}
.me {
    position: relative;
    float: left;
    width: 135px;
    height: 190px;
    margin: 12px 10px 5px 10px;
    border: solid black 1px;
    border-radius: 15px;
    transform: rotate(2deg);
    z-index: 1;
}
.fas, .fab {
    font-size: 12pt;
    text-indent: 5px;
}
#me {
    font-family: 'Prata', serif;
    font-size: 10pt;
    line-height: 1.5;
    padding: 10px 10px 26px;
    transform: rotate(2deg);
}
#name {
    font-family: 'Crimson Text', serif;
    font-size: 14pt;
    font-weight: bold;
    color: black;
}
#name:hover {
    color: rgb(230, 51, 51);
    font-weight: bold;
    text-decoration: none;
}
.heading, .container {
    margin-top: 25px;
}
.mainCont {
    position: relative;
    width: 100%;
    background-color: #92FBFC;
    transform: rotate(-2deg);
    padding: 30px;
}
.container {
    width:65%;
    text-align: left;
    /* background-color: white; */
    /* border: solid black 2px; */
    border-radius: 15px;
    margin: 0px auto 30px;
}
.skills {
    position: relative;
    font-family: 'Prata', serif;
    font-size: 10pt;
    transform: rotate(2deg);
}
#skills {
    font-size: 14pt;
    font-weight: bold;
    transform: rotate(2deg);
}
td {
    width: 100px;
}
.container2 {
    width:100%;
    text-align: justify;
}
.projects {
    height: 150px;
    width: 150px;
    display: block;
    position: relative;
    margin: 30px auto;
    border: black solid 1px;
    border-radius: 15px;
}
#contact-me {
    font-family: 'Crimson Text', serif;
    font-weight: bold;
    font-size: 12pt;
}
#contact {
    font-family: 'Prata', serif;
    font-size: 10pt;
    color: black;
}
.footer {
    font-size: 10pt;
    text-align: center;
    width:25%;
    position:fixed;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right:0;
    flex-shrink: 0;
    z-index: 3;
}
.description {
    width: 220px;
    height: 90px;
    position: relative;
    margin: 5px auto;
    font-family: 'Prata', serif;
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    padding: 5px 0px 25px;
}
#project1, #project2, #project3, #project4, #project5, #project6, #project7, #project8 {
    width: auto;
    height: auto;
    text-align: center;
    margin: 25px auto 40px;
    font-size: 10pt;
}
@media screen and (min-width:960px) { 
    h2 {
        font-size: 18pt;
        margin-left: 70px;
    }
    .projects {
        height: 225px;
        width: 225px;
        display: block;
        position: relative;
        margin: 10px auto;
        border-radius: 15px;
    }
    #project1, #project3, #project5, #project7 {
        float: left;
        margin-left: 250px;
        margin-top: 50px;
    }
    #project2, #project4, #project6, #project8 {
        float: right;
        margin-right: 250px;
        margin-top: 50px;
    }

}
@media screen and (min-width:500px) and (max-width:940px) {
    #me {
        padding-bottom: 0px;
    }
    .contact-me {
        text-align: center;
        margin: 0px auto;
    }
    .container {
        width: 85%;
    }
}
@media screen and (max-width:425px) {
    h2 {
        margin-left: 0;
    }
    .container, .container2 {
        clear: both;
        width:auto;
        margin: auto;
    }
    .container {
        width: 90%;
    }
    .contact-me {
        display: inline-block;
        text-align: left;
        margin: 15px auto 0px;
        padding-bottom: 0px;
    }   
    .projects {
        height: 150px;
        width: 150px;
        display: block;
        position: relative;
        left: 0;
        right: 0;
        border-radius: 15px;
    }
    #project1, #project3, #project5, #project7 {
        margin-left: 5px;
    }
    #project2, #project4, #project6, #project8 {
        margin-right: 0px;
    }
    .footer{
        width: 50%;
    }

}